api-ref/src/wadls/networks/wadl/sec-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-networks.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0" xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0" xmlns:xlink="http://www.w3.org/1999/xlink"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v3.0 ../common/xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="ext-sec-groups">
        <resource id="version" path="v2.0/">
            <resource id="SecGroups" path="security-groups">
                <method href="#listSecGroups"/>
                <resource id="SecGroupID" path="{security_group_id}">
                    <param name="security_group_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Network ID">The unique
                            identifier of the security group.</wadl:doc>
                    </param>
                    <method href="#showSecGroup"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- List Security Groups -->
    <!--<method name="GET" id="listSecGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Security Groups">
            <para role="shortdesc">Lists all Cloud Networks security groups to which the specified tenant has access.</para>
            <para>The operation shows the unique ID for each security group and the rules that are associated with each
                security group. You can control which attributes are returned by using the fields query parameter, and you
                can specify how many results to return per page. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                or
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_pagination.html">Pagination 
                    of Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/networks-get-resp.json"/>
                </wadl:doc>
                <param required="true" name="admin_state_up" style="plain" type="xsd:bool" path="$.admin_state_up">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"><para>Indicates the administrative state of
                            the network, which is up or down.</para></wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml" element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/networks-get-resp.xml"/>
                </wadl:doc>
            </representation>
        </response> &fault401;</method>-->
    
    <method name="GET" id="listSecGroups">
        <wadl:doc xml:lang="EN" title="List security groups" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all Cloud Networks security groups to which the specified tenant has access.</para>
            <para>The operation shows the unique ID for each security group and the rules that are associated with each
                security group. You can control which attributes are returned by using the fields query parameter, and you
                can specify how many results to return per page. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                or
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_pagination.html">Pagination 
                    of Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <!-- I commented this example out because it is not a request body -->
        <!--<request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><xsdxt:code
                        href="../common/samples/security-groups-list-get-req.json"/></wadl:doc>
            </representation>
        </request>-->
        <response status="200">
            
            <representation mediaType="application/json" element="csapi:network">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-list-get-resp.json"/>
                </wadl:doc>
                <param name="security_group" style="plain" type="xsd:string" required="true" path="$.security_group">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>Security group
                        object.</para></wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string" required="true" path="$.description">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        description.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:uuid" required="true" path="$.id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The UUID for the security
                        group.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        name.</para></wadl:doc>
                </param>
                <!--&securityGroupRule; -->
                <param xmlns="http://wadl.dev.java.net/2009/02" name="security_group_rules" style="plain" type="xsd:string" required="true"
                    path="$.security_group_rules">
                    <wadl:doc xml:lang="EN" xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The security group rule object.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="direction" style="plain" type="xsd:string" required="true"
                    path="$.direction">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The direction, either <code>ingress</code> or <code>egress</code>.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="ethertype" style="plain" type="xsd:string" required="true"
                    path="$.ethertype">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The network ether type, either <code>IPv4</code> or <code>IPv6</code>.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain" type="csapi:uuid" required="true" path="$.id">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The ID for the security group rule.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="port_range_max" style="plain" type="xsd:string" required="true"
                    path="$.port_range_max">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The maximum port ranges. Set to null.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="port_range_min" style="plain" type="xsd:string" required="true"
                    path="$.port_range_min">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The minimum port ranges. Set to null.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="protocol" style="plain" type="xsd:string" required="true"
                    path="$.protocol">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The protocol. Set to null.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="remote_group_id" style="plain" type="xsd:string" required="true"
                    path="$.remote_group_id">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The remote group ID. Set to null.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="remote_ip_prefix" style="plain" type="xsd:string" required="true"
                    path="$.remote_ip_prefix">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The remote IP prefix. Set to null.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="security_group_id" style="plain" type="csapi:uuid" required="true"
                    path="$.security_group_id">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The security group ID for the security group with which the rule is
                            associated.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="tenant_id" style="plain" type="xsd:string" required="true"
                    path="$.tenant_id">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant ID.</para></wadl:doc>
                </param>
            </representation>
        </response>&fault401; </method>
    
    

    <!-- Show Security Groups -->
    <method name="GET" id="showSecGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show Security Group">
            <para role="shortdesc">Shows information for a specified security group.</para>
            <para>This operation returns a response body that contains the description, name, ID, and security group rules
                associated with the specified security group and tenant ID. You can control which attributes are returned by
                using the fields query parameter. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/networks-get-detail-resp.json"/>
                </wadl:doc>
                <param required="true" name="admin_state_up" style="plain" type="xsd:bool" path="$.admin_state_up">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"><para>Indicates the administrative state of
                            the network, which is up or down.</para></wadl:doc>
                </param>
                <param required="true" name="id" style="plain" type="csapi:uuid" path="$.id">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"><para>The network ID.</para></wadl:doc>
                </param>
                <param required="true" name="name" style="plain" type="xsd:string" path="$.name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"><para>The network name.</para></wadl:doc>
                </param>
                <param required="true" name="shared" style="plain" type="xsd:bool" path="$.shared">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"><para>Indicates whether this network is
                            shared across all tenants. By default, only administrative users can change this
                        value.</para></wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml" element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/networks-get-detail-resp.xml"/>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; </method>

</application>
